/* .sw
{
    width: 10px;
    height: 2000px;
    opacity: 0;
} */
/* CLASES GENERICAS DE LAS CARTAS */
.contain
{
    height: fit-content;
    margin: 2rem auto;
}


/* - - - - - - - - - - FONDO DE CONTENEDOR INICIAL - - - - - - - - - - */
.fondo::before{background-image: url("../Multimedia/Imagenes/cards/background_cards.jpg");}

/* - - - - - - - - - - APARTADO DE ESTADÍSTICAS - - - - - - - - - - */
.stats
{
    padding: 2rem;
    width: 70%;
}

.stats div
{
    margin: 5rem auto;
    padding: 0 3rem;
    width: 100%;
    height: 17vh;
    
    border-radius: 20px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.stats div:first-child
{
    margin-top: 0;
    background: linear-gradient(45deg, #7ed4fe, transparent) #37b7f4;
}

.stats div:nth-child(2){background: linear-gradient(45deg, #ff8676, transparent) #ff6b5a;}
.stats div:nth-child(3){background: linear-gradient(45deg, #ffb700, transparent) #ffa424;}
.stats div:nth-child(4){background: linear-gradient(45deg, #ff8eae, transparent) #ff639a;}
.stats div:nth-child(5){background: linear-gradient(45deg, #00d0ac, transparent) #00b285;}


.stats div:last-child
{
    margin-bottom: 0;
    background: linear-gradient(45deg, #ffdd8d, transparent) #ecc45b;
}

.stats div:first-child:hover{background-color: #2196f3;}
.stats div:nth-child(2):hover{background-color: #ef4532;}
.stats div:nth-child(3):hover{background-color: #ff9400;}
.stats div:nth-child(4):hover{background-color: #ff3e82;}
.stats div:nth-child(5):hover{background-color: #009771;;}
.stats div:last-child:hover{background-color: #e1b246;}

.stats div p
{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.stats div img{width: 4rem;}

/* CONTENEDOR DE INFORMACIÓN */
.stats .desc
{
    position: absolute;
    bottom: -53%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, #fff 50%, #ecedf0 52%);
    color: #744a22;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 2.5px solid #707070;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;    
    transition: opacity 0.3s ease;
}

.stats div:hover .desc{opacity: 1;}

/* - - - - - - - - - - EJEMPLO DE ELECCION DE CARTAS - - - - - - - - - - */
.chart{width: 80%;}

.chart > img, .split > img{width: 50%; border-radius: 1rem;}

/* Este comparte clase con .split, apartado más abajo */
.info, .split div
{
    width: 50%;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.grid4
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.cell
{
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.cell img:first-child {width: 3.3rem;}
.cell img:nth-child(2){width: 1.7rem;}

.info p, .split div p{margin: 1rem 0;}

/* - - - - - - - - - - CATEGORÍA DE CARTAS - - - - - - - - - - */
main > section:nth-of-type(6) {margin-bottom: 4rem;}

.cardCat
{
    width: 80%;
    gap: 5rem;
}

.cardCat div
{
    width: 23%;
    height: 51vh;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cardCat div:hover{transform: scale(1.1);}

.cardCat div:first-child{background-image: url("../Multimedia/Imagenes/cards/R.png");}
.cardCat div:nth-child(2){background-image: url("../Multimedia/Imagenes/cards/SR.png");}
.cardCat div:nth-child(3){background-image: url("../Multimedia/Imagenes/cards/SSR.png");}

/* CONTENEDORES DE CARTAS UNCAP */
.split{width: 85%;}

.split div{padding: 0 1rem;}

.split div:last-child img{height: 23px;}

/* HABILIDADES DE CARTA */

/* CARTAS PAL */

main > section:nth-of-type(11) {margin-bottom: 2rem;}
main > section:nth-of-type(12) .pal{background-image: url('../Multimedia/Imagenes/cards/pal.png');}