/* Reset */
*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML */
html
{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: #707070;
    scroll-behavior: smooth;
}

/* CLASES GLOBALES Y GENERICAS */
.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImg, *::before, *::after
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fullSize, *::before, *::after
{
    width: 100%;
    height: 100%;
}

.transition, *::before{transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;}

.flexColumn{flex-direction: column;}

/* Clases de contenedores de texto simples */
.text
{
    margin: 7rem auto;
    width: 85%;
    text-align: center;
}

.text h2
{
    margin-bottom: 2rem;
    font-family: "Aleo", serif;
    font-size: 3.7rem;
    font-weight: 700;
}

.text p
{
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 450;
}

/* Estilos de texto resaltado */
.bold{font-weight: 530;}

.bold[data-color="blue"]{color: #7395f7;}
.bold[data-color="energy"]{  background: -webkit-linear-gradient(45deg, #2fb2fd 10%, #20f03a 55%, #fe5b1f 75%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.bold[data-color="pink"]{color: #fe3074;}
.bold[data-color="strongOrange"]{color: #fd7c38;}
.bold[data-color="orange"]{color: #fba904;}
.bold[data-color="green"] {color: #6fc61e;}
.bold[data-color="skyBlue"] {color: #4bcfdd;}
.bold[data-color="purple"]{color: #aa79f4;}

.bold[data-color="rainbow"]{background: -webkit-linear-gradient(45deg, #2fb2fd 10%, #e6f020 55%, #fe1f9a 75%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

/* - - - - - - - - - - FONDO DE PÁGINAS - - - - - - - - - - */
@keyframes cube 
{
    from
    {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to
    {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -1;
}

.background li
{
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #eeeef0;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}

undefined
.background li:nth-child(0)
{
    animation-delay: 0s;
    left: 81vw;
    top: 92vh;
    border-color: #ffffff;
}

.background li:nth-child(1)
{
    animation-delay: 2s;
    left: 31vw;
    top: 64vh;
}

.background li:nth-child(2)
{
    animation-delay: 4s;
    left: 3vw;
    top: 15vh;
}

.background li:nth-child(3)
{
    animation-delay: 6s;
    left: 65vw;
    top: 24vh;
}

.background li:nth-child(4)
{
    animation-delay: 8s;
    left: 48vw;
    top: 72vh;
}

.background li:nth-child(5)
{
    animation-delay: 10s;
    left: 96vw;
    top: 40vh;
    border-color: #ffffff;
}


/* - - - - - - - - - - HEADER - - - - - - - - - - */
.header
{
    width: 100%;
    height: 15vh;
    padding-left: 2rem;
    justify-content: space-between;
    background-color: #eeeef0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Aleo", serif;
    position: fixed;
    z-index: 100;
}

.header a
{
    gap: 1rem;
    font-size: 1.3rem;
    color: #707070;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header a:hover{color: #744a22;}

.header a img{width: 15rem;}

.header .headerButton
{
    width: 7vw;
    height: 100%;
    background-color: #93df37;
    border: 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.header .headerButton:hover{background-color: #008d0a;}

.header .headerButton img
{
    width: 73%;
    height: auto;
    cursor: pointer;
}

/* MENU DE NAVEGACION */
.navBar
{
    position: fixed;
    top: 15%;
    right: -21vw;
    width: 21vw;
    height: 85vh;
    padding: 1.7rem;
    background: #008d0a;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
}

.navBar.active{right: 0;}

.navBar ul
{
    width: 100%;
    height: 90%;
    flex-direction: column;
    list-style: none;
}

.navBar li{margin: 3px 0;}

.navBar a
{
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-size: 1.5rem;
    font-style: normal;
    color: #f4ffcc;
    text-decoration: none;
    justify-content: flex-start;
    transition: all ease 0.3s;
}

.navBar a:hover
{
    color: #f7e41a;
    font-style: oblique 7deg;
}

.navBar a img
{
    width: 2.7rem;
    height: auto;
}

#sos
{
    width: 10px;
    height: 2000px;
}

/* ESTILOS PARA INICIO DE SCROLL */
/* Estado inicial (transparente) */
.header
{
    background-color: transparent;
    box-shadow: 0 2px 5px transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header .headerButton{background-color: transparent;}

/* Estado cuando hay scroll (adopta color) */
.header.scrolled 
{
    background-color: #eeeef0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header.scrolled .headerButton{background-color: #93df37;}
.header.scrolled .headerButton:hover{background-color: #008d0a;}

/* - - - - - - - - - - BOTON DE SCROLL HACIA ARRIBA - - - - - - - - - - */
.scrollToTop
{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    padding: 0.6rem;
    border-radius: 17%;
    background-color: #93df37;
    border: 5px solid transparent;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
    z-index: 50;
}

.scrollToTop.visible
{
    opacity: 1;
    pointer-events: auto;
}

.scrollToTop span
{
    font-size: 3.5rem;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.scrollToTop:hover
{
    background-color: #fff;
    border: 5px solid #93df37;
}

.scrollToTop:hover span
{
    color: #93df37;
    transform: translateY(-5px);
}

/* - - - - - - - - - - FOOTER - - - - - - - - - - */
footer
{
    width: 100%;
    height: 37vh;
    padding: 1rem 2rem;
    background-color: #008d0a;
    font-family: consolas, monospace;
}

footer div:nth-child(1)
{
    margin: 0 1rem;
    width: 50%;
    height: 100%;
    color: #ffffff;
    gap: 0.5rem;
    padding: 2rem 0;
}

footer div:nth-child(1) h3
{
    font-size: 3rem;
    font-weight: 700;
}

footer div:nth-child(1) p
{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

footer div:nth-child(2)
{
    width: 50%;
    height: 100%;
    gap: 2.5rem;
}

footer div:nth-child(2) a{width: 5.5vw;}

footer div:nth-child(2) a img
{
    width: 100%;
    height: auto;
    transition: all 0.2s ease;
}

footer div a:hover img[src="Multimedia/Imagenes/L-Git.png"] {filter: brightness(0) saturate(100%) invert(19%) sepia(83%) saturate(1195%) hue-rotate(100deg) brightness(99%) contrast(108%);}
footer div a:hover img[src="Multimedia/Imagenes/L-Insta.png"] {filter: brightness(0) saturate(100%) invert(19%) sepia(83%) saturate(1195%) hue-rotate(100deg) brightness(99%) contrast(108%);}
footer div a:hover img[src="Multimedia/Imagenes/L-Twit.png"] {filter: brightness(0) saturate(100%) invert(19%) sepia(83%) saturate(1195%) hue-rotate(100deg) brightness(99%) contrast(108%);}
footer div a:hover img[src="Multimedia/Imagenes/L-Red_1.png"] {filter: brightness(0) saturate(100%) invert(19%) sepia(83%) saturate(1195%) hue-rotate(100deg) brightness(99%) contrast(108%);}

/* Pie de pagina Copyright */
.copyright
{
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    background-color: #005706;
}

.copyright p
{
    margin: 0;
    color: #fff;
    font-weight: 350;
    justify-content: flex-start;
}

.copyright p img
{
    width: 220px;
    margin: 0 0.5rem;
}

/* - - - - - - - - - - ESTILOS EL FONDO INICIAL DE LAS PAGINAS - - - - - - - - - - */
/* CAPA 0: Solo para definir dimensiones de contenedor */
.fondo
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 5rem;
    justify-content: flex-start;
    overflow: hidden;
}

/* CAPA 1: imagen de fondo (en el CSS correspondient a la página) y el efecto desenfoque (blur) */
.fondo::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: 1;
}
/* CAPA 2: Capa de obscuresencia (la tipica) */
.fondo::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000081;
    z-index: 2;
}

/* Contenido (Texto) */
.fondo h2
{
    position: relative; /* para quedar encima */
    font-family: "aleo", serif;
    font-size: 6rem;
    color: #eeeef0;
    text-shadow: 5px 5px 5px #000;
    z-index: 3;
}