/* - - - - - - - - - - CONTENEDOR DE VIDEO - - - - - - - - - - */
.videoContainer
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoContainer::before
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: 1;
}

.backgroundVideo
{
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.content
{
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 10rem 5rem;
    width: 85%;
    height: 100%;
    align-items: flex-start;
    text-align: left;
}

.content h1
{
    font-size: clamp(1.2rem, 4.6vw, 7rem);
    font-family: "Aleo", serif;
    font-weight: 700;
    color: #eeeef0;
    text-shadow: 5px 5px 5px #000;
}

/* - - - - - - - - - - CONTENEDORES BASICOS - - - - - - - - - - */
.uraF
{
    margin: 7rem auto;
    width: 85%;
    text-align: center;
    color: #707070;
}

.uraF p
{
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;    
    font-weight: 600;
}

.uraF{width: 90%;}

.uraF img
{
    max-width: 40vw;
    height: auto;
}

/* - - - - - - - - - - CONTENEDORES PARTIDOS - - - - - - - - - - */

.splitCont
{
    margin: 2rem auto;
    width: 90%;
    height: 70vh;
    border-radius: 1rem;
    overflow: hidden;
}

.splitCont div
{
    width: 50%;
    height: 100%;
    padding: 3rem; 
    text-align: center;
    color: #707070;
    background-color: #eeeef0;
}

.splitCont a
{
    width: 50%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.splitCont a:nth-child(1){background-image: url("../Multimedia/Imagenes/esp1.jpg");}
.splitCont a:nth-child(2){background-image: url("../Multimedia/Imagenes/esp2.jpg");}

.splitCont a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
}

.splitCont a:hover::before{background-color: #00000081;}

.splitCont a h3
{
    font-family: "Aleo", serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: transparent;
    text-shadow: 3px 3px 1px transparent;
    position: absolute;
    transition: all 0.3s ease;
    z-index: 11;
}

.splitCont a:hover h3
{
    color: #eeeef0;
    text-shadow: 3px 3px 1px #000;
}

.splitCont div h3
{
    font-family: "Aleo", serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.splitCont div p
{
    font-size: 1.6rem;
    font-weight: 500;

}

/* ========== SLIDER CON LAS CARTAS ========== */
.cards
{
    width: 100%;
    height: 68vh;
    margin: 7rem auto;
    padding-top: 1.5rem;
    align-items: flex-start;
    overflow: hidden;
}

.cards a
{
    width: 18vw;
    height: 415px;
    margin: 0 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    transition: transform .3s ease;
}

.cards a:hover{transform: scale(1.1);}

/* Layer de fondo con el efecto arcoíris */
/* Definición inicial */
.cards a::before
{
    content: "";
    position: absolute;
    width: 180%;
    height: 120%;
    background: conic-gradient(
        #FD9FEB,
        #01FEF2,
        #01FE38,
        #DDE104,
        #DDE104,
        #01FEF2,
        #01FEF2,
        #FD9FEB,
        #FD9FEB
    );

    transform: rotate(0deg); /* posición inicial */
    transition: transform 1.5s ease-in-out; /* animación ligera */
}

/* da la vuelta SOLO en hover */
.cards a:hover::before{transform: rotate(360deg);}

/* Layer que contiene la imagen de fondo */
.cards a::after
{
    content: "";
    position: absolute;
    width: 93%;
    height: 95%;
    border-radius: 0.4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.cards a:nth-child(1)::after { background-image: url("../Multimedia/Imagenes/cards1.jpg"); }
.cards a:nth-child(2)::after { background-image: url("../Multimedia/Imagenes/cards2.jpg"); }
.cards a:nth-child(3)::after { background-image: url("../Multimedia/Imagenes/cards3.jpg"); }
.cards a:nth-child(4)::after { background-image: url("../Multimedia/Imagenes/cards4.jpg"); }

/* Layer de oscurecimiento y texto */
.cards a div
{
    width: 93%;
    height: 95%;
    padding: 2rem;
    border-radius: 0.8rem;
    z-index: 10;
    background-color: transparent;
}

.cards a div:hover{background-color: rgba(0, 0, 0, 0.51);}

.cards a div h3
{
    font-family: "Aleo", serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: transparent;
    transition: color .3s ease;
}

.cards a:nth-child(3) div h3{font-size: 2rem;}
.cards a div:hover h3{color: #fff;}


.meme
{
    width: 85%;
    height: 80vh;
    margin: 1rem auto;
    background-image: url("../Multimedia/Imagenes/Urara_meme.jpg");
    border: 3px solid #707070;
    border-radius: 1rem;
}

.me
{
    width: 90%;
    height: 40vh;
    margin: 5rem auto;
    padding: 1rem;
}

.me p
{
    display: block;
    width: 40%;
    text-align: center;
    font-size: 1.53rem;
    font-weight: 450;
    margin: 0 auto;
    color: #707070;
}

.me img
{
    width: 50%;
    margin: 0 auto;
}