/* - - - - - - - - - - ESTILOS DE HEADER ESPECIALES PARA EL INDEX - - - - - - - - - - */
/* Estado inicial */
header
{
    background-color: transparent;
    box-shadow: 0 2px 5px transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header .headerButton{background-color: transparent;}

/* Estado cuando hay scroll */
header.scrolled 
{
    background-color: #eeeef0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.scrolled .headerButton
{
    background-color: #93df37;
    transition: background-color 0.3s ease;
}

header.scrolled .headerButton:hover{background-color: #008d0a;}



/* - - - - - - - - - - CONTENEDOR DE VIDEO - - - - - - - - - - */
.videoContainer
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoContainer::before
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: 1;
}

.backgroundVideo
{
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    object-fit: cover;
    z-index: 0;
}

.content
{
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 10rem 5rem;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.content h1
{
    font-size: clamp(1.2rem, 4.6vw, 7rem);;
    font-family: "Aleo", serif;
    font-weight: 700;
    font-style: normal;
    color: #eeeef0;
    text-shadow: 5px 5px 5px #000;
}

/* - - - - - - - - - - CONTENEDORES BASICOS - - - - - - - - - - */
.text, .uraF
{
    margin: 7rem auto;
    width: 85%;
    text-align: center;
    color: #707070;
    /*! background-color: aqua; */
}

.text h2
{
    margin-bottom: 2rem;
    font-family: "Aleo", serif;
    font-size: 3.7rem;
    font-weight: 700;
}

.text p, .uraF p
{
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 450;
}

.uraF{width: 90%;}

.uraF img
{
    max-width: 40vw;
    height: auto;
}

.uraF p
{
    font-weight: 600;
    font-size: 1.6rem;
}

/* - - - - - - - - - - CONTENEDORES PARTIDOS - - - - - - - - - - */

.splitCont
{
    margin: 2rem auto;
    display: flex;
    width: 90%;
    height: 70vh;
    border-radius: 1rem;
    overflow: hidden;
}

.splitCont div
{
    width: 50%;
    height: 100%;
    background-color: #eeeef0;
}

.splitCont a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    text-decoration: none;

    position: relative;

    background-image: url("../Multimedia/Imagenes/esp1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splitCont a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;

    z-index: 10;
}

.splitCont a:hover::before
{
    background-color: #00000081;
}

.splitCont a h3
{
    font-family: "Aleo", serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: transparent;
    text-shadow: 3px 3px 1px transparent;
    position: absolute;
    transition: all 0.3s ease;
    z-index: 11;
}

.splitCont a:hover h3
{
    color: #eeeef0;
    text-shadow: 3px 3px 1px #000;
}

.splitCont div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 3rem;   
    color: #707070;
}

.splitCont div h3
{
    font-family: "Aleo", serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.splitCont div p
{
    font-size: 1.6rem;
    font-weight: 500;

}



.cards
{
    
    margin: 7rem auto;
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem 0 0 0;
    overflow: hidden;
}

/*

.cards a
{
    width: 18vw;    
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    padding: 2rem;
    text-align: center;
    text-decoration: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px transparent;
    transform: scale(1);
    transition: all ease 0.5s;
    position: relative;
}


.cards a:nth-child(1){background-image: url("../Multimedia/Imagenes/cards1.jpg");}
.cards a:nth-child(2){background-image: url("../Multimedia/Imagenes/cards2.jpg");}
.cards a:nth-child(3){background-image: url("../Multimedia/Imagenes/cards3.jpg");}
.cards a:nth-child(4){background-image: url("../Multimedia/Imagenes/cards4.jpg");}

.cards a::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 1rem;
}

.cards a:hover
{
    transform: scale(1.1);
    box-shadow: 0px 8px 7px #000;
}

.cards a:hover::before
{
    background-color: #00000068;
    z-index: 1;
}



.cards a h3
{
    color: transparent;
    text-shadow: 2px 2px 2px transparent;
    transition: all ease 0.3s;
    margin: 0;
    z-index: 3;
}

.cards a:hover h3
{
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.cards a h3
{
    font-size: 2.5rem;
    font-family: "Aleo", serif;
    font-weight: 500;
}*/

.cards a
{
    width: 18vw;
    height: 415px;
    margin: 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0,0,0, .5);
    text-decoration: none;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    cursor: pointer;

    transition: transform .3s ease;
}

.cards a::before
{
    content: "";
    position: absolute;
    width: 180%;
    height: 120%;
    background: conic-gradient(
        #01FEF2,
        #FD9FEB,
        #FD9FEB,
        #01FEF2,
        #01FE38,
        #01FE38,
        #DDE104,
        #DDE104,
        #01FEF2
        );
}

.cards a::after
{
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 93%;
    height: 95%;
    border-radius: .4em;

    font-size: 2rem;
    color: #fff;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cards a:nth-child(1)::after{background-image: url("../Multimedia/Imagenes/cards1.jpg");}
.cards a:nth-child(2)::after{background-image: url("../Multimedia/Imagenes/cards2.jpg");}
.cards a:nth-child(3)::after{background-image: url("../Multimedia/Imagenes/cards3.jpg");}
.cards a:nth-child(4)::after{background-image: url("../Multimedia/Imagenes/cards4.jpg");}

.cards a:hover
{
    transform: scale(1.1);
}

.cards a:hover::before
{
    animation: spin 1.5s infinite linear;
}

@keyframes spin
{
    to
        {
            transform: rotate(360deg);
        }
}

.cards a div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 95%;
    padding: 2rem;
    background-color: transparent;
    z-index: 10;
    border-radius: 0.8rem;
    transition: background-color .3s ease;
}

.cards a div:hover
{
    background-color: rgba(0, 0, 0, 0.511);
}

.cards a div h3
{
    font-family: "Aleo", serif;
    font-size: 2.5rem;
    font-weight: 500;  
    text-align: center;
    color: transparent;
    transition: color .3s ease;
}

.cards a div:hover h3
{
    color: #fff;
}