/* - - - - - - - - - - FONDO DE CONTENEDOR INICIAL - - - - - - - - - - */
.fondo::before{background-image: url("../Multimedia/Imagenes/train/background_train.jpg");}

.text span{font-weight: 500;}

.info
{
    margin: 5rem auto;
    width: 90%;
    height: fit-content;
    /* position: relative; */
}

.info img
{
    width: 45%;
    height: auto;
    border-radius: 1rem;
}

.info .text-block
{
    padding: 2rem;
    width: 55%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 430;
}

.text-block{position: relative;}

.info .text-block p{margin: 1rem 0;}

.color{font-weight: 530;}

.color[data-color="blue"]{color: #7395f7;}
.color[data-color="energy"]{  background: -webkit-linear-gradient(45deg, #2fb2fd 10%, #20f03a 55%, #fe5b1f 75%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.color[data-color="pink"]{color: #fe3074;}
.color[data-color="strongOrange"]{color: #fd7c38;}
.color[data-color="orange"]{color: #fba904;}
/* .color {color: #4b92dd;} */
.color[data-color="green"] {color: #6fc61e;}
.color[data-color="skyBlue"] {color: #4bcfdd;}
.color[data-color="purple"]{color: #aa79f4;}


/*.color {background: -webkit-linear-gradient(45deg, #2fb2fd 10%, #e6f020 55%, #fe1f9a 75%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;} */

/* popup base */
.popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);

    opacity: 0;
    pointer-events: none;
    z-index: 15;
}

/* estado visible */
.popup.active
{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{width: 100%;}

#details{width: 55%;}
#mood{width: 65%;}
#ability{width: 47%;}
#moodDown{width: 43%;}

/* estilo de los botones */
.trigger
{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 530;
    color: #f7b416;
    font-family: "Montserrat", sans-serif;
}

.trigger:hover{color: #f9790e;}
