/* - - - - - - - - - - FONDO DE CONTENEDOR INICIAL - - - - - - - - - - */
.fondo::before{background-image: url("../Multimedia/Imagenes/training/background_train.jpg");}

.text span
{
    display: inline-block;
    margin-top: 1rem;
    font-weight: 500;
}

/* Contenedor y sus derivados */
.info
{
    margin: 5rem auto;
    width: 90%;
    height: fit-content;
}

.info img
{
    width: 45%;
    height: auto;
    border-radius: 1rem;
}

.info .text-block
{
    padding: 2rem;
    width: 55%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 430;
}

.text-block{position: relative;}

.info .text-block p{margin: 1rem 0;}

/* Estilos de texto resaltado */
.bold{font-weight: 530;}

.bold[data-color="blue"]{color: #7395f7;}
.bold[data-color="energy"]{  background: -webkit-linear-gradient(45deg, #2fb2fd 10%, #20f03a 55%, #fe5b1f 75%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.bold[data-color="pink"]{color: #fe3074;}
.bold[data-color="strongOrange"]{color: #fd7c38;}
.bold[data-color="orange"]{color: #fba904;}
.bold[data-color="green"] {color: #6fc61e;}
.bold[data-color="skyBlue"] {color: #4bcfdd;}
.bold[data-color="purple"]{color: #aa79f4;}

.bold[data-color="rainbow"]{background: -webkit-linear-gradient(45deg, #2fb2fd 10%, #e6f020 55%, #fe1f9a 75%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

/* estilos de los activadores de popup */
.trigger
{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 530;
    color: #a06f4f;
    font-family: "Montserrat", sans-serif;
}

.trigger:hover{color: #784217;}

/* popup base (sin aparecer) */
.popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);

    opacity: 0;
    pointer-events: none;
    z-index: 15;
}

/* estado visible */
.popup.active
{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{width: 100%;}

#details{width: 55%;}
#mood, #fans{width: 67%;}
#ability{width: 47%;}
#moodDown{width: 43%;}
#swing{width: 70%;} #swing img{border-radius: 0.5rem;}