/* - - - - - - - - - - FONDO DE CONTENEDOR INICIAL - - - - - - - - - - */
.fondo::before{background-image: url("../Multimedia/Imagenes/uma/background_uma.jpg");}

.uma
{
    margin: 4rem auto;
    width: 85%;
    height: fit-content;
    align-items: flex-start;
}

.uma img
{
    width: 50%;
    height: auto;
}

.infoUma
{
    width: 50%;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem 0;

}

.infoUma h3
{
    font-family: "Aleo", serif;
    font-size: 5rem;
    font-style: italic;
}

.infoUma p
{
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
}

.infoUma ul{list-style-type: '⭕';}

.infoUma li
{
    margin: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 450;
    line-height: 2rem;
}

.infoUma li:last-child
{
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
}

main > section:nth-of-type(4), main > section:nth-of-type(6){margin: 0 auto;}